# directories
node_modules/
example/
__tests__/
coverage/
.github/
screenshots/
docs/
.vscode/

# files
npm-debug.log
.DS_Store
.gitignore
.npmignore
.prettierignore
.prettierrc.js
.eslintignore
.eslintrc.js
babel.config.js
jest.config.ts
tsconfig.json
README.md
RELEASE_NOTES.md